* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

li {
  /*background-color: rgb(230, 30, 42);*/
  list-style: none;
}

a {
  color: #6799ff;
  text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
  }

.sign-in {
  /*background-color: rgb(70, 162, 90);*/
  display: block;
}

img {
   width: 74px;
 
}

.image-names {
        display: block;
        -webkit-margin-before: 1.33em;
        -webkit-margin-after: 1.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
        text-align: center;
    
}


.navbar {
  /* background-color: rgb(217, 221, 31); */
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  /* flex-direction: row; */
  padding-bottom: 20px;
}

.courses-dropdown {
  display: none;
  /* display: flex; */
  
}

.courses-list {
    background-color: azure;
    display: flex !important;
    flex-direction: row;
   justify-content: space-around;
   /* justify-content: center; */
   padding: 250px;
   

}

.how-works-dropdown {
  display: none;
}

.how-works-list {
    background-color: azure;
    display: flex !important;
    flex-direction: row;
   justify-content: space-between;
   /* justify-content: center; */
   padding: 250px;
   

}

/*.container {
  display: flex;
}*/
/*.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}*/

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

@media (min-width: 576px ){
  .hamburger {
      display: none;
    }
}
/* Add your CSS here */
